<form id="meeting">
  <label for="topic-id">Topic:</label>
  <select id="topic-id" name="topic_id">
  <% TuberApp.Store.topics.each(function(topic){ %>
    <option value="<%= topic.id %>"><%= topic.get("name") %></option>
  <% }) %>
  </select>
  <div class="row">
     <div class="small-1 columns"><label for="addr">Address: </label></div>
    <div class="small-5 columns"><input type="text" name="addr" id="addr"></div>
    <div class="small-3 columns"><button id="find-me">Find Me</button></div>
  </div>
</form>
<div id="map-canvas" style="width: 500px; height: 500px;"></div>
<button type="medium" id="submit-req">Teach Me!</button>

<div id="learnModal" class="reveal-modal">
  <h2>Sorry!</h2>
  <p class="lead">Looks like all tutors are busy. Please try again later!</p>
  <a class="close-reveal-modal" id="learn">&#215;</a>
</div>