<form id="request">
  <div class="row">
     <div class="small-1 columns"><label for="addr">Address: </label></div>
    <div class="small-5 columns"><input type="text" name="addr" id="addr"></div>
    <div class="small-3 columns"><button id="find-me">Find Me</button></div>
  </div>
</form>
<div id="map-canvas" style="width: 500px; height: 500px;"></div>
<button type="medium" id="submit-avail">Teach Me!</button>