<form id="availability">
  <label for="addr">Address: </label>
  <input type="text" name="addr" id="addr">
  <button id="find-me">Find Me</button>
</form>
<div id="map-canvas" style="width: 500px; height: 500px;"></div>
<button type="medium" id="submit-avail">I'm Available!</button>