<div class="row">
  <div class="panel">
    <div class="some-friggin-class">
      Your tutor was TUTOR_NAME
    </div>
    <ul class="inline-list rating-star">
      <li class="star gray" data-id="1"></li>
      <li class="star gray" data-id="2"></li>
      <li class="star gray" data-id="3"></li>
      <li class="star gray" data-id="4"></li>
      <li class="star gray" data-id="5"></li>
    </ul>
  </div>
</div>