<div class="row">
  <div class="panel">
    Your tutor was TUTOR_NAME
    <img src="/nopic.png">
    <img src="/graystar.png">
    <img src="/graystar.png">
    <img src="/graystar.png">
    <img src="/graystar.png">
    <img src="/graystar.png">
  </div>
</div>