<section>
  <p class="title" data-section-title style="top: 0px;">
    <a href="#"><%= TuberApp.Store.topics.where({id: meeting.get("topic_id") })[0].get("name") %> with <%= collaborator.get("fname") + " " +collaborator.get("lname") %>
</section>