<section>
  <p class="title" data-section-title style="top: 0px;">
    <a href="#"><%= meeting.topic %> with <%= collaborator.get("name") %>
<div class="row">
  <label class="large-3 columns" for="topic">Topic:</label>
  <input class="large-6 columns" type="text" name="meeting[topic]" id="topic">
</div>
</section>