<div class="row">
  <div class="panel">
    <h3>Topics</h3>
      <ul class="no-bullet">
        <% user.topics().each(function(topic){ %>
          <li class="label-tag">
            <a href="/topics/<%= topic.id %>"><%= topic.escape("name") %></a>
          </li>
        <% }) %>
      </ul>
  </div>
</div>