<div class="row">
  <div class="panel">
    <h3>Ratings</h3>
    <% num_ratings = user.get('num_ratings') %>
    <% avg_rating = user.get('avg_rating') %>
    <% if (num_ratings > 0) { %>
      <h5 class="subheader"><em>
        <%= num_ratings %> 
        <%= num_ratings === 1 ? "rating" : "ratings" %>
        - Average rating: <%= avg_rating %> / 5
        </em></h5>
      <div class="gray avg_rating"></div>
      <div class="yellow avg_rating"></div>      
    <% } else { %> 
      <h5 class="subheader"><em>No ratings yet!</em></h5>
    <% } %>      

  </div>
</div>