// Place all the styles related to the root controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.untag {
  cursor: pointer;
}

#content {
  padding: 0 20px;
}

.full {
  width: 100%;
}

.star {
  height: 100px;
  width: 100px;
  background-size:100px 100px;
  
  &.gray {
    background-image: url('/assets/graystar.png');
  }
  
  &.yellow {
    background-image: url('/assets/star.png');
  }
}

.avg_rating {
  &.gray {
    background-image: url('/assets/graystars.png');
  }
  
  &.yellow {
    background-image: url('/assets/yellowstars.png');
  }
}