<form id="login-form">
  <label for="user_username">Username</label>
  <input type="text" name="user[username]" id="user_username" value="<%=user.username%>">
  <label for="user_password">Password</label>
  <input type="password" name="user[password]" id="user_password">
  <input id="login-submit" type="submit" value="Log In">
</form>