<nav class="top-bar" data-options="is_hover:false">
  <ul class="title-area">
    <li class="name">
      <h1><a href="/" class="logo">SideLyftUberInstaTutor</a></h1>
    </li>
  </ul>
  <section class="top-bar-section">
    <% if(TuberApp.Store.currentUser){ %>
      <ul class="right">      
        <li>
          <a id="profile" href="/profile"><img width="40px" height="40px" src="/nopic.png"></a>
        </li>
        <li>
          <a id="profile" href="/profile"><%= TuberApp.Store.currentUser.abbrevName() %></a>
        </li>
        <li>
          <a id="profileEdit" href="/profile/edit">Edit Profile</a>
        </li>
        <li>
          <a id="logout" href="/logout">Log Out</a>
        </li>
      </ul>
    <% } else { %>
      <ul class="right">
      <li><a id="login">Log In</a></li>
      <li><a id="signup">Sign Up</a></li>
      </ul>
    <% } %>
  </section>
</nav>