<nav class="top-bar" data-options="is_hover:false">
  <ul class="title-area">
    <li class="name">SideLyftUberCar</li>
  </ul>
  <section class="top-bar-section">
    <% if(TuberApp.Store.currentUser){ %>
      <ul class="right">
        <% if(TuberApp.Store.currentUser.role != "student"){ %>
          <li>Get Help</li>
        <% } %>
        <% if(TuberApp.Store.currentUser.role != "tutor"){ %>
          <li>Teach</li>
        <% } %>        
        <li class="has-dropdown">
          <a href=""><img src="/nopic.png"></a>
          <ul class="dropdown">
            <li>
              <a href="">Edit Profile</a>
            </li>
            <li>
              <a id="logout" href="">Log Out</a>
            </li>
          </ul>
        </li>
      </ul>
    <% }else{ %>
      <ul class="right">
      <li>Log In </li>
      <li>Sign Up</li>
      </ul>
    <% } %>
  </section>
</nav>