<nav class="top-bar" data-options="is_hover:false">
  <ul class="title-area">
    <li class="name">SideLyftUberCar</li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
      <li>Student</li><!-- opposite of current view -->
      <li class="has-dropdown">
        <a href=""><img src="/nopic.png"></a>
        <ul class="dropdown">
          <li>
            <a href="">Edit Profile</a>
          </li>
          <li>
            <a href="">Sign Out</a>
          </li>
        </ul>
      </li>
    </ul>
  </section>
</nav>