<div class="row">
  <div class="small-12 columns">
    <div class="panel">
    
      <form id="signup-form">
        <label for="user_email">Email</label>
        <input type="text" name="user[email]" id="user_email">
        <label for="user_password">Password</label>
        <input type="password" name="user[password]" id="user_password">
        <label for="user_phone_number">Phone Number</label>
        <input type="text" name="user[phone_number]" id="user_phone_number">
        <label for="user_fname">First Name</label>
        <input type="text" name="user[fname]" id="user_fname">
        <label for="user_lname">Last Name</label>
        <input type="text" name="user[lname]" id="user_lname"> 
        <input id="signup-submit" class="full button" type="submit" value="Sign Up">
      </form>
    </div>
  </div>
</div>